body {
  background-color: #222222;
  font-family: arial, sans-serif;
  margin: auto;
  min-width: 320px;
  padding: 10px 0 30px 0;
  width: 90%;
}

#container {
  min-height: 660px;
  overflow: hidden;
}

#container > * {
  margin: 0 0 -30000px 0;
  overflow: auto;
  padding-bottom: 30000px;
}

header {
  border-bottom: 2px solid #999999;
  padding: 20px 0 20px 40px;
}

header a {
  color: #ffffff;
  font-size: 2em;
  text-decoration: none;
}

nav {
  background-color: #555555;
  color: #ffffff;
  float: left;
  padding: 12px 0 0 8px;
  width: 225px;
}

nav a {
  color: #bbbbbb;
  font-size: 12px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul ul {
  padding: 0 0 8px 6px;
}

@media only screen and (max-width: 640px) {
  nav {
    float: none;
    width: inherit;
  }

  nav > ul {
    line-height: 32px;
    margin-top: 0;
  }

  nav > ul > li span {
    cursor: pointer;
    user-select: none;
  }

  nav > ul > li span:before {
    content: "\25b8";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
  }

  nav > ul ul {
    display: none;
  }

  .expanded span:before {
    content: "\25be";
  }

  .expanded ul {
    display: block;
  }
}

article {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

.map {
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  width: 268px;
}

.map img {
  border: 1px solid #888888;
  padding: 2px;
}

.map ul {
  color: #888888;
  font-size: 11px;
  list-style-type: none;
  margin: 2px;
  padding: 0;
}

.map li {
  display: inline;
}

.map li:after {
  content: " \00b7";
  padding: 2px;
}

.map li:last-child:after {
  content: none;
}

.new {
  color: #d0b068;
  display: inline-block;
  width: 0;
}
