html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: calc(100% - 40px);
  min-width: 558px;
  padding: 10px 5% 30px 5%;
}

header {
  flex: 0 0;
  padding: 14px 0 20px 30px;
}

#container {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
}

nav {
  flex: 0 0 225px;
  padding: 12px 0 0 8px;
}

article {
  flex: 1 1;
  padding: 0 20px;
}

@media only screen and (max-width: 620px) {
  body {
    min-width: auto;
  }

  #container {
    flex-direction: column;
  }

  nav {
    flex-basis: auto;
  }
}

/******************************************************************************/

body {
  background-color: #222;
  font-family: arial, sans-serif;
}

header {
  border-bottom: 2px solid #999;
}

header a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

nav {
  background-color: #555;
  color: #fff;
}

nav a {
  color: #bbb;
  font-size: 12px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul ul {
  padding: 0 0 8px 6px;
}

@media only screen and (max-width: 620px) {
  nav > ul {
    line-height: 32px;
    margin-top: 0;
  }

  nav > ul > li span {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 100%;
  }

  nav > ul > li span:before {
    content: "\25b8";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
  }

  nav > ul ul {
    display: none;
  }

  nav a {
    display: inline-block;
    width: 100%;
  }

  .expanded span:before {
    content: "\25be";
  }

  .expanded ul {
    display: block;
  }
}

article {
  background-color: #fff;
  font-size: 13px;
}

article a {
  color: #3a6add;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

/******************************************************************************/

.map {
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  width: 268px;
}

.map img {
  border: 1px solid #888;
  padding: 2px;
}

.map ul {
  color: #888;
  font-size: 11px;
  list-style-type: none;
  margin: 2px;
  padding: 0;
}

.map li {
  display: inline;
  position: relative;
}

.map li:after {
  content: " \00b7";
  padding: 2px;
}

.map li:last-child:after {
  content: none;
}
