{% capture result %}
{% assign map = site.data.maps.[include.map] %}
{% assign metadata = site.data.metadata.[include.map] %}
{% capture size %}
  {% if metadata.size >= 1048576 %}
    {{ metadata.size | divided_by: 1048576 }} MB
  {% elsif metadata.size >= 1024 %}
    {{ metadata.size | divided_by: 1024 }} KB
  {% else %}
    {{ metadata.size }} bytes
  {% endif %}
{% endcapture %}
{% assign dq='"' %}

<div class="map">{% unless include.omit_name %}
  <h4>{{ map.name }}</h4>{% endunless %}
  <a href="{{ map.path | replace: "/", "SLASH" | url_encode | replace: "SLASH", "/" | replace: "+", "%20" }}">
    <img src="{{ metadata.thumbnail }}" alt="{{ map.name | replace: dq, '' }}" height="{{metadata.thumbnail_height}}" width="{{metadata.thumbnail_width}}" />
  </a>
  <ul>
    <li>{{ metadata.width }}×{{ metadata.height }}</li>
    <li>{{ size | strip }}</li>
    <li>{{ metadata.date | date: "%b %d, %Y" }}</li>
  </ul>
</div>

{% endcapture %}{{ result | strip }}