<nav>
  <ul>
    <li>
      <span>Screenshot Maps</span>
      <ul>
        <li>{% include gamelink.html game="kid-dracula" %}</li>
        <li>{% include gamelink.html game="cv" %}</li>
        <li>{% include gamelink.html game="cv2" %}</li>
        <li>{% include gamelink.html game="cv3" %}</li>
        <li>{% include gamelink.html game="cv-sotn" %}</li>
        <li>{% include gamelink.html game="tentacle" %}</li>
        <li>{% include gamelink.html game="gccx2" %}</li>
        <li>{% include gamelink.html game="loz-la" %}</li>
        <li>{% include gamelink.html game="loz-ooa" %}</li>
        <li>{% include gamelink.html game="lemmings" %}</li>
        <li>{% include gamelink.html game="mm" %}</li>
        <li>{% include gamelink.html game="mm2" %}</li>
        <li>{% include gamelink.html game="mm3" %}</li>
        <li>{% include gamelink.html game="mm3gb" %}</li>
        <li>{% include gamelink.html game="mm4" %}</li>
        <li>{% include gamelink.html game="mm5" %}</li>
        <li>{% include gamelink.html game="mm6" %}</li>
        <li>{% include gamelink.html game="mm9" %}</li>
        <li>{% include gamelink.html game="mm10" %}</li>
        <li>{% include gamelink.html game="mmx2" %}</li>
        <li>{% include gamelink.html game="nes-open" %}</li>
        <li>{% include gamelink.html game="rgc" %}</li>
        <li>{% include gamelink.html game="rolando" %}</li>
        <li>{% include gamelink.html game="sfxmm" %}</li>
        <li>{% include gamelink.html game="smb3" %}</li>
      </ul>
    </li>
    <li>
      <span>In-Game Maps</span>
      <ul>
        <li>{% include gamelink.html game="cv-dos" %}</li>
        <li>{% include gamelink.html game="cv-ooe" %}</li>
        <li>{% include gamelink.html game="cv-por" %}</li>
        <li>{% include gamelink.html game="mkds" %}</li>
      </ul>
    </li>
  </ul>
</nav>
