<nav>
  <a href="/index.html">Home</a>
  <ul>
    <li><a href="/games/kid-dracula.html">{{ site.data.games.kid-dracula.title }}</a></li>
    <li><a href="/games/cv.html">{{ site.data.games.cv.title }}</a></li>
    <li><a href="/games/cv3.html">{{ site.data.games.cv3.title }}</a></li>
    <li><a href="/games/cv-dos.html">{{ site.data.games.cv-dos.title }}</a></li>
    <li><a href="/games/cv-ooe.html">{{ site.data.games.cv-ooe.title }}</a></li>
    <li><a href="/games/cv-por.html">{{ site.data.games.cv-por.title }}</a></li>
    <li><a href="/games/cv-sotn.html">{{ site.data.games.cv-sotn.title }}</a></li>
    <li><a href="/games/tentacle.html">{{ site.data.games.tentacle.title }}</a></li>
    <li><a href="/games/gccx2.html">{{ site.data.games.gccx2.title }}</a></li>
    <li><a href="/games/lemmings.html">{{ site.data.games.lemmings.title }}</a></li>
    <li><a href="/games/ZeldaLinksAwakening.html">{{ site.data.games.loz-la.title }}</a></li>
    <li><a href="/games/loz-ooa.html">{{ site.data.games.loz-ooa.title }}</a></li>
    <li><a href="/games/mk64.html">{{ site.data.games.mk64.title }}</a></li>
    <li><a href="/games/mkds.html">{{ site.data.games.mkds.title }}</a></li>
    <li><a href="/games/mm.html">{{ site.data.games.mm.title }}</a></li>
    <li><a href="/games/mm2.html">{{ site.data.games.mm2.title }}</a></li>
    <li><a href="/games/MegaManIII.html">{{ site.data.games.mm3.title }}</a></li>
    <li><a href="/games/mm3gb.html">{{ site.data.games.mm3gb.title }}</a></li>
    <li><a href="/games/mm4.html">{{ site.data.games.mm4.title }}</a></li>
    <li><a href="/games/mm5.html">{{ site.data.games.mm5.title }}</a></li>
    <li><a href="/games/mm6.html">{{ site.data.games.mm6.title }}</a></li>
    <li><a href="/games/mm9.html">{{ site.data.games.mm9.title }}</a></li>
    <li><a href="/games/mm10.html">{{ site.data.games.mm10.title }}</a></li>
    <li><a href="/games/mmx2.html">{{ site.data.games.mmx2.title }}</a></li>
    <li><a href="/games/mmz2.html">{{ site.data.games.mmz2.title }}</a></li>
    <li><a href="/games/nes-open.html">{{ site.data.games.nes-open.title }}</a></li>
    <li><a href="/games/rgc.html">{{ site.data.games.rgc.title }}</a></li>
    <li><a href="/games/rolando.html">{{ site.data.games.rolando.title }}</a></li>
    <li><a href="/games/sfxmm.html">{{ site.data.games.sfxmm.title }}</a></li>
    <li><a href="/games/smb3.html">{{ site.data.games.smb3.title }}</a></li>
  </ul>
</nav>