---
layout: game
game: loz-la
---
<h2>Original and DX</h2>

<h3>Koholint Island</h3>
{% include map.html map="loz-la-koholint" omit_name="true" %}
{% include map.html map="loz-ladx-koholint" omit_name="true" %}

<h3>Level 1: Tail Cave</h3>
{% include map.html map="loz-la-tail" omit_name="true" %}
{% include map.html map="loz-ladx-tail" omit_name="true" %}

<h3>Level 2: Bottle Grotto</h3>
{% include map.html map="loz-la-bottle" omit_name="true" %}
{% include map.html map="loz-ladx-bottle" omit_name="true" %}

<h3>Level 3: Key Cavern</h3>
{% include map.html map="loz-la-key" omit_name="true" %}
{% include map.html map="loz-ladx-key" omit_name="true" %}

<h3>Level 4: Angler's Tunnel</h3>
{% include map.html map="loz-la-angler" omit_name="true" %}
{% include map.html map="loz-ladx-angler" omit_name="true" %}

<h3>Level 5: Catfish's Maw</h3>
{% include map.html map="loz-la-catfish" omit_name="true" %}
{% include map.html map="loz-ladx-catfish" omit_name="true" %}

<h3>Level 6: Face Shrine</h3>
{% include map.html map="loz-la-face" omit_name="true" %}
{% include map.html map="loz-ladx-face" omit_name="true" %}
<h3>Level 7: Eagle's Tower</h3>
{% include map.html map="loz-la-eagle" omit_name="true" %}
{% include map.html map="loz-ladx-eagle" omit_name="true" %}

<h3>Level 8: Turtle Rock</h3>
{% include map.html map="loz-la-turtle" omit_name="true" %}
{% include map.html map="loz-ladx-turtle" omit_name="true" %}

<h3>Color Dungeon</h3>
{% include map.html map="loz-ladx-color" omit_name="true" %}
