---
layout: default
game: mm5
---
<h2>Robot Masters</h2>
{% include map.html map="mm5-charge" %}
{% include map.html map="mm5-crystal" %}
{% include map.html map="mm5-gravity" %}
{% include map.html map="mm5-gyro" %}
{% include map.html map="mm5-napalm" %}
{% include map.html map="mm5-star" %}
{% include map.html map="mm5-stone" %}
{% include map.html map="mm5-wave" %}

<h2>Proto Man's Fortress</h2>
{% include map.html map="mm5-proto1" %}
{% include map.html map="mm5-proto2" %}
{% include map.html map="mm5-proto3" %}
{% include map.html map="mm5-proto4" %}

<h2>Dr. Wily's Castle</h2>
{% include map.html map="mm5-wily1" %}
{% include map.html map="mm5-wily2" %}
{% include map.html map="mm5-wily3" %}
{% include map.html map="mm5-wily4" %}
