---
layout: default
game: mm3gb
---
<p>I never finished this set, but Ryan Ferneau
<a href="http://vgmaps.com/Atlas/GB-GBC/index.htm#MegaManIII">picked up the slack</a>.

<h2>Robot Masters</h2>
{% include map.html map="mm3gb-drill" %}
{% include map.html map="mm3gb-dust" %}
{% include map.html map="mm3gb-gemini" %}
{% include map.html map="mm3gb-shadow" %}
{% include map.html map="mm3gb-skull" %}
{% include map.html map="mm3gb-snake" %}
{% include map.html map="mm3gb-spark" %}

<h2>Dr. Wily</h2>
{% include map.html map="mm3gb-suzy" %}
