---
layout: default
game: mm3
---
<h2>Robot Masters</h2>
{% include map.html map="mm3-gemini" %}
{% include map.html map="mm3-hard" %}
{% include map.html map="mm3-magnet" %}
{% include map.html map="mm3-needle" %}
{% include map.html map="mm3-shadow" %}
{% include map.html map="mm3-snake" %}
{% include map.html map="mm3-spark" %}
{% include map.html map="mm3-top" %}

<h2>Doc Robots</h2>
{% include map.html map="mm3-gemini-revisited" %}
{% include map.html map="mm3-needle-revisited" %}
{% include map.html map="mm3-shadow-revisited" %}
{% include map.html map="mm3-spark-revisited" %}

<h2>Break Man</h2>
{% include map.html map="mm3-break" omit_name="true" %}

<h2>Dr. Wiley's Castle</h2>
{% include map.html map="mm3-wily1" %}
{% include map.html map="mm3-wily2" %}
{% include map.html map="mm3-wily3" %}
{% include map.html map="mm3-wily4" %}
{% include map.html map="mm3-wily5" %}
{% include map.html map="mm3-wily6" %}
