---
layout: game
game: mm4
---

{% include map.html map="mm4-bright" %}
{% include map.html map="mm4-cossack1" %}
{% include map.html map="mm4-cossack2" %}
{% include map.html map="mm4-cossack3" %}
{% include map.html map="mm4-cossack4" %}
{% include map.html map="mm4-dive" %}
{% include map.html map="mm4-drill" %}
{% include map.html map="mm4-dust" %}
{% include map.html map="mm4-pharaoh" %}
{% include map.html map="mm4-ring" %}
{% include map.html map="mm4-skull" %}
{% include map.html map="mm4-toad" %}
{% include map.html map="mm4-wily1" %}
{% include map.html map="mm4-wily2" %}
{% include map.html map="mm4-wily3" %}
{% include map.html map="mm4-wily4" %}
