---
layout: default
game: sfxmm
---
<h2>Main Bosses</h2>
{% include map.html map="sfxmm-blanka" %}
{% include map.html map="sfxmm-viper" %}
{% include map.html map="sfxmm-chunli" %}
{% include map.html map="sfxmm-dhalsim" %}
{% include map.html map="sfxmm-rolento" %}
{% include map.html map="sfxmm-rose" %}
{% include map.html map="sfxmm-ryu" %}
{% include map.html map="sfxmm-urien" %}

<h2>Final Bosses</h2>
{% include map.html map="sfxmm-balrog" %}
{% include map.html map="sfxmm-vega" %}
{% include map.html map="sfxmm-lab" %}
{% include map.html map="sfxmm-bison" %}
{% include map.html map="sfxmm-akuma" %}
