---
layout: game
game: smb3
---
<p>I contributed these maps as part of a team effort at
<a href="http://vgmaps.com">VGMaps.com</a>. The rest can be found
<a href="http://vgmaps.com/Atlas/NES/index.htm#SuperMarioBros3">here</a>.

<h2>World 1</h2>
{% include map.html map="smb3-1-5" %}

<h2>World 4</h2>
{% include map.html map="smb3-4-1" %}
{% include map.html map="smb3-4-2" %}
{% include map.html map="smb3-4-3" %}
{% include map.html map="smb3-4-4" %}
{% include map.html map="smb3-4-5" %}
{% include map.html map="smb3-4-6" %}
{% include map.html map="smb3-4-airship" %}
{% include map.html map="smb3-4-f1" %}
{% include map.html map="smb3-4-f2" %}
