---
layout: game
game: loz-la
---

<table>
<tr>
<td>{% include map.html map="loz-ladx-angler" %}</td>
<td>{% include map.html map="loz-la-angler" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-bottle" %}</td>
<td>{% include map.html map="loz-la-bottle" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-catfish" %}</td>
<td>{% include map.html map="loz-la-catfish" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-eagle" %}</td>
<td>{% include map.html map="loz-la-eagle" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-face" %}</td>
<td>{% include map.html map="loz-la-face" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-key" %}</td>
<td>{% include map.html map="loz-la-key" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-koholint" %}</td>
<td>{% include map.html map="loz-la-koholint" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-tail" %}</td>
<td>{% include map.html map="loz-la-tail" %}</td>
</tr>
<tr>
<td>{% include map.html map="loz-ladx-turtle" %}</td>
<td>{% include map.html map="loz-la-turtle" %}</td>
</tr>
</table>

{% include map.html map="loz-ladx-color" %}
