<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{% capture description %}
        {% if page.game %}
          {% assign game = site.data.games.[page.game] %}
          A collection of screenshot maps for {{ game.title }}
        {% else %}
          Screenshot maps for retro video games like Castlevania and Mega Man
        {% endif %}
        {% endcapture %}{{ description | strip }}"/>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <title>Revned's Video Game Maps{% if game %} - {{ game.title }}{% endif %}</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script>
      window.onload = function() {
        function makeHandler(e) {
          return function() {
            e.classList.toggle('expanded');
          };
        }
        var e = document.querySelectorAll("nav > ul > li");
        for(var i = 0; i < e.length; i++) {
          e[i].getElementsByTagName("span")[0].onclick = makeHandler(e[i]);
        }{% if game %}
        var now = new Date().getTime();
        e = document.querySelectorAll(".map li:last-child");
        for(i = 0; i < e.length; i++) {
          if (now - Date.parse(e[i].textContent) < 15768000000) {
            e[i].parentNode.parentNode.className += " new";
          }
        }{% endif %}
      };
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60589101-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header><a href="/">Revned's Video Game Maps</a></header>
    <div id="container">
      <nav>
        <ul>
          <li>
            <span>Screenshot Maps</span>
            <ul>
              <li>{% include gamelink.html game="kid-dracula" %}</li>
              <li>{% include gamelink.html game="cv" %}</li>
              <li>{% include gamelink.html game="cv2" %}</li>
              <li>{% include gamelink.html game="cv3" %}</li>
              <li>{% include gamelink.html game="cv-sotn" %}</li>
              <li>{% include gamelink.html game="tentacle" %}</li>
              <li>{% include gamelink.html game="diablo" %}</li>
              <li>{% include gamelink.html game="gccx2" %}</li>
              <li>{% include gamelink.html game="loz-la" %}</li>
              <li>{% include gamelink.html game="loz-ooa" %}</li>
              <li>{% include gamelink.html game="lemmings" %}</li>
              <li>{% include gamelink.html game="mm" %}</li>
              <li>{% include gamelink.html game="mm2" %}</li>
              <li>{% include gamelink.html game="mm3" %}</li>
              <li>{% include gamelink.html game="mm3gb" %}</li>
              <li>{% include gamelink.html game="mm4" %}</li>
              <li>{% include gamelink.html game="mm5" %}</li>
              <li>{% include gamelink.html game="mm6" %}</li>
              <li>{% include gamelink.html game="mm9" %}</li>
              <li>{% include gamelink.html game="mm10" %}</li>
              <li>{% include gamelink.html game="mmx2" %}</li>
              <li>{% include gamelink.html game="nes-open" %}</li>
              <li>{% include gamelink.html game="rgc" %}</li>
              <li>{% include gamelink.html game="rolando" %}</li>
              <li>{% include gamelink.html game="sfxmm" %}</li>
              <li>{% include gamelink.html game="smb3" %}</li>
            </ul>
          </li>
          <li>
            <span>In-Game Maps</span>
            <ul>
              <li>{% include gamelink.html game="cv-dos" %}</li>
              <li>{% include gamelink.html game="cv-ooe" %}</li>
              <li>{% include gamelink.html game="cv-por" %}</li>
              <li>{% include gamelink.html game="mkds" %}</li>
            </ul>
          </li>
        </ul>
      </nav>
      <article>{% if game %}
        <h1>{{ game.title }}</h1>{% endif %}{% capture liquid_sucks_so_much %}
{% endcapture %}{% assign lines = content | strip | split: liquid_sucks_so_much %}{% for line in lines %}
        {{ line | rstrip }}{% endfor %}
      </article>
    </div>
  </body>
</html>
