<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Screenshot maps for retro video games like Castlevania and Mega Man" />
  <meta name=viewport content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <script>
    window.onload = function() {
{% include expand.js %}
    };
  </script>
  {% include analytics.html %}
</head>
<body>
{% include header.html %}
<div id="container">
{% include sidebar.html %}
<article>
{{ content }}</article>
</div>
</body>
</html>
